<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0">Designation</h5>
    <button class="btn btn-primary" (click)="openModal()">+ Add Designation</button>
  </div>

  <div class="card-body">
    <table class="table table-bordered table-hover">
      <thead class="table-light">
        <tr>
          <th>#</th>
          <th>Designation Name</th>
          <th>Department Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (des of designationDto; track des.designationId) {
          <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{ des.designationName }}</td>
            <td>{{ des.department?.departmentName }}</td>

            <td>
              <button class="btn btn-sm btn-primary" (click)="onEdit(des.designationId)">
                Edit
              </button>
              <button
                class="btn btn-sm btn-primary ms-2"
                (click)="deleteDesignation(des.designationId)"
              >
                Delete
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
@if (showModal) {
  <div class="modal-backdrop-custom">
    <div class="modal-custom">
      @if (isEdit) {
        <h5>Edit Designation</h5>
      } @else {
        <h5>Add Designation</h5>
      }

      <!-- Department Dropdown -->
      <div class="mb-3">
        <label class="form-label">Department</label>

        <select class="form-select" [(ngModel)]="designationObj.departmentId">
          <option [ngValue]="0">-- Select Department --</option>

          @for (d of departments; track d.departmentId) {
            <option [ngValue]="d.departmentId">
              {{ d.departmentName }}
            </option>
          }
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Designation Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="designationObj.designationName"
          placeholder="Enter designation name"
        />
      </div>

      <div class="text-end">
        <button class="btn btn-secondary me-2" (click)="closeModal()">Cancel</button>
        @if (isEdit) {
          <button class="btn btn-success" (click)="updateDesignation()">Update</button>
        } @else {
          <button class="btn btn-success" (click)="saveDesignation()">Save</button>
        }
      </div>
    </div>
  </div>
}
